<div class="row">
  <div class="small-12 columns">
    <div class=" media-object stack-for-small {{ modifier_class('media-object-section--dotted', modifier) }} {{ attributes.class }}" {{ attributes|without('class') }}>
      {% if align == "left" %}
        <div class="media-object-section">
          <div class="thumbnail">
            {{ src }}
          </div>
        </div>
      {% endif %}
      <div class="media-object-section main-section">
        <div class="media-object-section__kicker">{{- kicker -}}</div>
        <div class="media-object-section__headline">{{- title -}}</div>
        <div class="media-object-section__subheadline">{{- subtitle -}}</div>
      </div>
      {% if align == "right" %}
        <div class="media-object-section">
          <div class="thumbnail">
            {{ src }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>