<div class="image {{ modifier_class('image', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    {% if src is not empty %}
        <img src="{{- src -}}" alt="">
    {% else %}
      {{ img }}
    {% endif %}
</div>