<div class="row">
    <div class=" media-object {{ modifier_class('media-object', modifier) }} {{ attributes.class }}" {{ attributes|without('class') }}>
        <div class="media-object-section main-section" >
            <div class="media-object-section__kicker">{{- kicker -}}</div>
            <div class="media-object-section__headline">{{- title -}}</div>
            <div class="media-object-section__subheadline">{{- subtitle -}}</div>
        </div>
        <div class="media-object-section">
            <div class="thumbnail">
                <img src="{{ src }}"> </img>
            </div>
        </div>
    </div>
</div>