<div class="stage {{ modifier_class('stage', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }} style=" background-image: url('{{ background_image }}')">
    <div class="stage__layer">
        <div class="row ">
        {% if scroll_tape != null %}

            <div class="hide-for-small-only stage__image small-5 columns">
                {% include "@atoms/tape/tape.twig" with {"modifier":scroll_modifier, "src":scroll_tape} only %}
            </div>
        {% endif %}
        {% if label != null %}

            <div class="small-7 columns">
                {{ label }}
            </div>

        {% endif %}

        </div>
    </div>
</div>