<div class="tape__wrapper {{ class }}">
  <div class="tape {{ modifier_class('tape', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    <div class="tape__label {{ modifier_class('tape__label', modifier) }}">
      {% block label %}
        {{- label -}}
      {% endblock label %}
    </div>
    {% if label2 != null %}
      <div class="tape__label2 {{ modifier_class('tape__label2', label2_modifier) }} ">
        {% block label2 %}
          {{- label2 -}}
        {% endblock label2 %}
      </div>
    {% endif %}
    {% block sub %}
    {{ sub }}
    {% endblock sub %}
  </div>
</div>