<div class="footer {{ modifier_class('footer ', modifier) }} {{ attributes.class }}"{{ attributes|without('class') }}>
    <div class="row">
        <div class="small-12 medium-2 columns">{{ primary }}</div>
        <div class="small-12 medium-2 columns">{{ secondary }}</div>
        <div class="small-8 medium-3 columns">{{ address }}</div>
        <div class="small-4 medium-5 columns">{{ logo }}</div>
    </div>
    <div class="row">
        {{ copyright }}
    </div>
</div>